<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>1257 Attendance: {{ title }}</title>
    {% else %}
    <title>1257 Attendance</title>
    {% endif %}
</head>
<body>
    <div>1257 Attendance:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('signin') }}">Sign In</a>
        <a href="{{ url_for('register') }}">Register</a>
    </div>
    <hr>
    {% block content %}{% endblock content %}
</body>
</html>